@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
* {
  margin: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
}

//___Grid
.wrapper {
  display: grid;
  min-height: 10vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
  grid-auto-flow: dense;
  .top_bar {
    grid-row: 1 / 2;
    grid-column: 1 / 7;
    background-size: 100%;
  }
  .about_big:nth-child(2) {
    grid-row: 2 /3 ;
    grid-column: 1 / 7;
  }
  .banner_vertical {
    grid-column: 1 / 5;
    grid-row: 3 / 6;
  }
  .about_small {
    grid-column: 5 / 7;
    grid-row: 3 / 5;
  }
  .banner_small {
    grid-column: span 2;
    grid-row: 5 / 6;
  }
}

//___Styles


.about_big {
  min-height: 61vh;
  text-align: center;
  background-color: #f7f7f7;;
}

.banner_vertical:nth-child(3) {
  background-image: url("/images/first_banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 74vh;
}
.about_small {
  min-height: 34vh;
  background-color: #fff;;
}

.banner_small {
  background-image: url("/images/first_small.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 10vh;
}


